@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
    <!-- Section Banners -->
    <div class="banner-section">
        <div class="banner-container">
            <!-- Banner 1 -->
            <div class="banner" onclick="window.location.href='Địa chỉ rạp Starlight.html'">
                <img src="~/Scripts/Địa chỉ rạp Srarlight.png" alt="Địa Chỉ Rạp Starlight">
            </div>
             Banner 2 
            <div class="banner" onclick="window.location.href='bang-gia-ve-gold-class.html'">
                <img src="~/Scripts/Bảng giá vé Gold class.png" alt="Bảng Giá Vé Gold Class">
            </div>
            <!-- Banner 3 -->
            <!--<div class="banner" onclick="window.location.href='bang-gia-ve-rap-pleiku-gia-lai.html'">
                <img src="~/Scripts/Bảng Giá Vé Rạp Pleiku Gia Lai.png" alt="Bảng Giá Vé Rạp Pleiku Gia Lai">
            </div>-->
            <!-- Banner 4 -->
            <!--<div class="banner" onclick="window.location.href='uu-dai-combo-sieu-tiet-kiem.html'">
                <img src="~/Scripts/Ưu Đãi Combo Siêu Tiết Kiệm.png" alt="Ưu Đãi Combo Siêu Tiết Kiệm">
            </div>-->
            <!-- Thêm các banner khác tương tự -->
        </div>
    </div>
</main>